/* Colors

=============================
Colors:

Light Blue: #91C4F2
Logo Green: #97C9AB
Light Green: #B9FFB7
Light Brown: #ADA296
Salmon: #E2856E 
Black: #000000 
White: #F4F4F4


=============================

* Change Line-Heights in Header text (look up, just line-text: 1em;)
* Make more responsive
* Figure out curriculum page
* EDIT ANYTHING you do not like
* Put 'Apply Here' buttons into div and get it to align to the right instead of
the left
* Change out some pictures, fix sizing, and whatever is mentioned in review

/* Universal */

* {
  box-sizing: border-box;
  margin: auto;
  font-family: 'Muli', sans-serif;
}

/* Top Page Content - Header, Main Navingation */

.mainheader {
}
svg {
  max-width: 15%; 
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 300px;
}
.top-main {
  /* background: url(https://kentstateweb.github.io/s2017-creative_kidz_reed_spring2017/images/header.jpg); */ 
  background: #F4F4F4;
  padding: 20px; 
  text-align: center;
}
.main-title {
  display: inline-block;
  color: #97C9AB;
}
.main-nav {
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding: 10px;
	background-color: #97C9AB;
}
.main-nav li a {
	text-decoration: none;
}
.main-nav li a:hover {
	color: red;
}
nav {
	border: 1px solid black;
}
@@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }

    /*  At small screen stck the svg on top of text and make the menu vertical) */
}



