/* Colors

// Light Gray: #
// Light Green: #97C9AB
// Pink/Red: #E47070
// Light Purple: #C2A9DB


* Change Line-Heights in Header text (look up, just line-text: 1em;)
* Make more responsive
* Figure out curriculum page
* EDIT ANYTHING you do not like
* Put 'Apply Here' buttons into div and get it to align to the right instead of
the left
* Change out some pictures, fix sizing, and whatever is mentioned in review

/* Universal */

* {
  box-sizing: border-box;
  margin: auto;
  font-family: 'Muli', sans-serif;
}

/* SVG File */

svg {
  display: block;
  margin: auto;
  width: 30%;
}


/* Headers, H1 */

header {
  background-color: #C2A9DB;
  padding: 0;
  border: none;
  margin: 0;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 48px;
  text-align: center;
}

.titlep {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 64px;
  color: white;
  margin: 0;
}

/* Headers 2 & 3 */


h2 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: left:
  line-height: 10px;
  font-size: 36px;
  border-bottom: 2px dotted #97C9AB;
}

h3 {
  font-family: 'Muli', sans-serif;
  padding-top: .5em;
  margin: auto;
  font-size: 28px;
  color: #E47070;
}

h4 {
  font-family: 'Muli', sans-serif;
  padding-top: .3em;
  margin: auto;
  font-size: 20px;
}

.event {
  text-align: center;
}

.contact {
  color: black;
}

/* Navigation Bar Main */

nav {
  background-color: white;
}

nav ul {
  list-style: none;
	text-align: center;
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  margin: 0;
	padding: .2em;
  border-bottom: 1px solid lightgray;
  text-decoration: none;
}

nav li {
  padding: .7em;
  text-decoration: none;
}

nav li:hover {
	background-color: #E47070;
  border-radius: 25px;
}

  nav li {
    padding: .7em;
    text-decoration: none;
  }

  nav li:hover {
  	background-color: #E47070;
    color: white;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: white;
  }

/* NavBar Curriculum */

.MoreCurriculum ul {
	list-style-type: none;
  text-align: center;
	margin: 0;
	padding: 0;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
}

.ages {
  font-family: 'Muli', sans-serif;
  font-size: 18px;

}

/* Body */

body {
  margin: 0;
	padding: 0;
}

.News {
  margin: auto;
  color: #E47070;
}

/* Index Page Fonts */



/* Images */

img {
  max-width: 90%;
  display: block;
  margin: auto;
  border-radius: 10px;
}

/* Paragraph */

p {
  padding: .5em .5em .5em 0;
  font-size: 18px;
}

.p1 {
  padding: .6em;
  font-size: 18px;
}

/* Main */

main {
  padding: 1em 2em 1em 2em;
  max-width: 900px;
}

@media screen and (min-width:750px) {
  main {
      max-width: 1000px;
  }
}

/* take images out of main */

.main1 {
  border-top: 1em solid #97C9AB;
  border-right: 1em solid #E47070;
  border-left: 1em solid #E47070;
  border-bottom: 1em solid #97C9AB;
  padding: 1em;
}

/* Apply & Enroll Here Button */

.button {
    text-align: center;
    padding: 1em;
    display: inline-block;
    background-color: gray;
    color: white;
    text-decoration: none;
    transition: .3s background-color ease-in-out;
    border-radius: 25px;
    border: 2px solid #E47070;
}

.button:hover, .button:focus {
    background-color: #E47070;
}

.apply1, .link {
  text-decoration: underline;
}

.apply1:hover, .link:hover {
    color: white;
}

.link:hover, .apply1:hover{
  background-color: #E47070;
}

.buttons {
  text-align: left;
  margin: auto;
  padding: 0;
}

/* Sign Up Button */

.SignUp{
  text-alight: center;
  padding: .5em;
  display: inline-block;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: .3s background-color ease-in-out;
  border-radius: 25px;
}

.SignUp:hover, .SignUp:focus {
    background-color: #E47070;
}


/* Careers Images Menu */

.profile {
  border: 2px dotted #97C9AB;
  padding: .8em;
  margin: auto;
}


@media screen and (min-width:650px) {

.profile {
   display: flex;
  }

  .staff {
    width: 100%;
  }
}

/* Careers Fonts */

.careersfont {
  color: black;
}

/* Curriculum Fonts */

.curriculum {
  color: #E47070;
  padding-top: 0;
  text-align: center;
  margin: auto;
  font-size: 46px;
  border-bottom: none;
}

.career {
  color: #E47070;
  padding-top: 0;
  text-align: center;
  margin: auto;
  font-size: 46px;
  border-bottom: none;
}

 /* Accordian Menu  */

 .tab-list {
   background: #97C9AB;
   padding: 0;
   margin: 0;
 }

 .tab-item {
   display: block;
 }

 .tab-item[data-tab-active] {
   background: #E47070;
   -webkit-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
   transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
 }

 .tab-link {
   color: #fff;
   display: block;
   padding: 1rem 2rem;
   position: relative;
   text-decoration: none;
   -webkit-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
   transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
 }

 .tab-panel {
   background: white;
   padding: 1rem;
 }

 .tab-panel h2 {
   margin-top: 0;
 }

 .tab-panel[aria-hidden="true"] {
   display: none;
 }

 @media screen and (min-width: 700px) {
   .tab-item {
     display: inline-block;
   }

   .tab-link {
     display: inline-block;
   }

   .tab-link[data-tab-active]:after {
     content: '';
     display: inline-block;
     margin: auto;
     position: absolute;
     bottom: -9px;
     left: 0;
     right: 0;
     width: 0;
     height: 0;
     border-left: 10px solid transparent;
     border-right: 10px solid transparent;
     border-top: 10px solid #036800;
   }
 }

/* Footer */

footer {
  background-color: #C2A9DB;
  text: white;
  text-align: center;
  padding: .5em;
  font-size: 14px;
}

/* Carousel */

.carousel-cell {
    width: 100%;
    margin: auto;
}

.carousel-cell img {
    max-width: 80%;
    height: auto;
}

.carousel:after {
  content: 'flickity';
  display: none; /* hide :after */
}

/* Media Queries */

@media screen and (max-width: 800px) {

.titlep, h1 {
      font-size: 48px;
      line-text: 1em;
    }

  .curriculum {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

}

@media screen and (max-width: 600px) {
.titlep, h1 {
    font-size: 40px;
    line-height: 1.3;
  }

  .curriculum {
    font-size: 30px;
    line-height: 1.3;
  }

  h2, .staff{
    font-size: 24px;
    line-height: 1.3;
  }

  h3 {
    font-size: 20px;
  }

  .join {
    font-size: 18px;
  }

}


@media screen and (min-width:700px) {
	nav ul {
			display: flex;
			justify-content: space-around;
      font-size: 18px;
	}

}

/* At full size on home page, get the page to have an image to right and
text on left */

@media screen and (max-width: 575px) {

  .titlep, h1 {
        font-size: 28px
        line-height: 1.3;
        padding-bottom: .6em;
      }

  p {
    font-size: 12px;
  }

  nav ul {
    font-size: 16px;
  }
}
