/* Colorse47
// Light Green: #97C9AB
// Pink/Red: #E47070

New Colors:

Light Blue: #BCD2EE;
Green (logo): #97C9AB
Bright Green: #82D173;
Teal: #51A3A3;
Red: #9B1D20;

* Change Line-Heights in Header text (look up, just line-text: 1em;)
* Make more responsive
* Figure out curriculum page
* EDIT ANYTHING you do not like
* Put 'Apply Here' buttons into div and get it to align to the right instead of
the left
* Change out some pictures, fix sizing, and whatever is mentioned in review

/* =============================================================== */
/*#  UNIVERSAL STYLES       ========================================== */
/* =============================================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #20262B;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 64px;
    color: #9B1D20;
}

h2 {
    font-family: 'Roboto Slab';
    font-size: 36px;
    font-weight: 400;
}

h3 {
    font-family: 'Roboto Slab';
    font-size: 30px;
    font-weight: 500;
    color: #9B1D20;
}

h4 {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 500;
    color: #51A3A3;
}

h5 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 24px;
    line-height: 30px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.regBtn {
    background-color: #97C9AB;
    font-family: "Roboto";
    color: #FFF;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: auto;
    overflow: visible;
    border: 0;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-clip: padding-box;
    padding: 7px 15px;
    margin: 10px 0;
}

.green {
    background-color: #82D173;
}

.red {
    background-color: #9B1D20;
}

.flexboxFeature {
    display: flex;
}

.whiteText {
    color: #fff;
}

.centerIt {
    text-align: center;
}

@media screen screen and (max-width: 960px) {
    p {
        font-size: 18px;
    }
}

@media screen screen and (max-width: 640px) {
    p {
        font-size: 20px;
    }
}

/* =============================================================== */
/*#  FOOTER STYLES          ========================================== */
/* =============================================================== */

footer {
    background-color: #9B1D20;
    padding: 20px 10px;
}

.footerText {
    color: #fff;
    font-size: 26px;
}

.footerContact {
    width: 30%;
    padding: 0 20px;
    text-align: left;
    margin-right: 5%;
    margin-bottom: 10px;
    text-align: center;
}

.footerInfo {
    width: 30%;
    text-align: right;
}

.footerLinks {
    list-style: none;
    text-align: right;
}

.footerLinks li {
    margin: 10px 0;
}

.footerLinks li a {
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 300;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
}

.footerLinks li a:hover {
    color: #82D173;
}

.socialMedia {
    display: flex;
    width: 35%;
}
.social {
    margin: 0 5px;
}

.facebook {
   background-image: url(https://kentstateweb.github.io/s2017-creative_kidz_reed_spring2017/redesign/fontIcon/svg/facebook.svg);
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
.twitter {
   background-image: url(https://kentstateweb.github.io/s2017-creative_kidz_reed_spring2017/redesign/fontIcon/svg/twitter.svg);
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
.tumblr {
   background-image: url(https://kentstateweb.github.io/s2017-creative_kidz_reed_spring2017/redesign/fontIcon/svg/tumblr.svg);
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
.linkedin {
   background-image: url(https://kentstateweb.github.io/s2017-creative_kidz_reed_spring2017/redesign/fontIcon/svg/linkedin.svg);
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}


/* =============================================================== */
/*#  MAIN NAVIGATION/HEADER         ========================================== */
/* =============================================================== */

.top-main {
    text-align: left;
    height: 300px;
    background-image: url(images/Home/indexBanner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.main-title {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    background-color: rgba(188, 210, 238, .6);
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 90px;
}

.homepage_main {
    width: 100%;
}

.main_logo {
    position: absolute;
    margin: 10px 20px;
    top: 0;
    width: 60px;
}

.page_width {
    max-width: 1200px;
    margin: 0 auto !important;
    padding: 0 10px;
}


/* =============================================================== */
/*#  NAVIGATION      ========================================== */
/* =============================================================== */

img {
    width: 80%;
}

nav {
    padding-right: 10px;
    background-color: #9B1D20;
    width: 100%;
    padding: 30px 10px;
    position: relative;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.main-nav li {
    margin-left: 10px;
}

.main-nav li,
.main-nav a {
    text-decoration: none;
    font-size: 22px;
    color: #FFF;
    font-weight: 300;
    font-family: "roboto";
    text-transform: uppercase;
}

.main-nav a:hover {
    font-weight: 500;
}

a.active {
    font-weight: 700;
    color: #97C9AB;
}

a.active:before {
    content: ;
}


/* =============================================================== */
/*#  INDEX PAGE           ========================================== */
/* =============================================================== */

/* Main Area Div */

#main_area {
    display: flex;
    padding: 20px 0;
}
.curriculumButton {
    width: 45%;
}
.ourMisson {
    width: 55%;
}
.missionText {
    font-family: 'Roboto Slab';
    font-size: 36px;
    font-weight: 500;
    padding: 15px 10px;
    margin-bottom: 10px;
    background-color: #82D173;
    ;
    width: 98%;
}

.ourMisson p {
    width: 98%;
}

/* Middle Image Div */

.middleImage {
    margin-bottom: 0;
}

.button {
    margin: 20px 70px;
    width: 70%;
    text-align: center;
}

.fillerImage {
    width: 100%;
    margin-bottom: 0;
}

/* Middle Testimonial Div */

.middleTestimonials {
    background-color: #66A0E9;
    height: 300px;
    margin-top: 0;
    display: flex;
}

.testimonial_1 {
    width: 50%;
    padding: 20px 60px;
}

.testimonial_text {
    font-size: 20px;
    line-height: 28px;
    font-style: italic;
    font-weight: 200;
    color: #fff;
    margin: 20px;
}

.imageTestimonials {
    width: 50%;
    text-align: center;
}

.roundImages {
    width: 214px;
    margin: 20px 10px;
}

/* Enroll and Application */

#enrollmentSection,
#ApplicationSection {
    display: flex;
    padding: 20px 0;
}

.enrollFiller {
    width: 300px;
}
.halfWidth {
    width: 50%;
}

/* NEWS & EVENTS */

.fillerImage {
    margin: 0;
    padding: 0;
    border-top: 5px solid #51A3A3;
    border-bottom: 5px solid #51A3A3;
}
.newsEvents {
    margin-bottom: 10px;
    margin-top: 0px;
}
.newsEvents p {
    font-size: 18px;
    font-weight: 500;
}

.changeBackground {
    
}

.changeBackground_2 {
    background-color: #82D173;
}
.addSpace {
    padding-top: 10px;
}

/*#  Big Screen      ========================================== */

@media only screen and (max-width: 1408px) {
    .testimonial_text {
        margin: 10px 0;
    }
    .three {
        display: none;
    }
}

/*#  Tablet Down        ========================================== */

@media only screen and (max-width: 960px) {
    nav {
        padding: 30px 5px;
    }
    .main-nav li,
    .main-nav a {
        font-size: 18px;
    }
    /* Middle Testimonial Div */
    .two {
        display: none;
    }
    .testimonial_1 {
        width: 55%;
        padding: 20px 30px;
    }
    .testimonial_text {
        font-size: 18px;
        line-height: 24px;
        margin: 0;
    }
    .imageTestimonials {
        width: 50%;
    }
    .roundImages {
        width: 250px;
        margin: 20px 15%;
    }
}

/*#  Mobile Down        ========================================== */

@media only screen and (max-width: 640px) {
    nav {
        padding: 20px 0;
    }
    .main-nav a {
        font-size: 22px;
    }
    .main-nav a:hover {
        background-color: #97C9AB;
        color: white;
    }
    a.active {
        background-color: #97C9AB;
        color: white;
    }
    .main-nav li {
        font-size: 22px;
        border-bottom: 1px solid #97C9AB;
        padding: 5px 0;
    }
    .main-nav li:first-child {
        border-top: 1px solid #97C9AB;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    .main_logo {
        position: inherit;
        width: 100px;
        display: block;
        margin: 20px auto;
        margin-top: -10px;
    }
    /* Main Area Div */
    #main_area {
        flex-direction: column;
    }
    .curriculumButton,
    .ourMisson {
        width: 98%;
    }
    .ourMisson {
        margin: 0 20px;
    }
    .missionText {
        font-size: 40px;
    }

    /* Middle Testimonial Div */
    .middleTestimonials {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 0;
    }
    .testimonial_1 {
        width: 100%;
        order: 2;
        padding: 20px 30px;
    }
    .testimonial_text {
        font-size: 18px;
        line-height: 24px;
        margin: 0;
    }
    .imageTestimonials {
        width: 100%;
        text-align: center;
    }
    .roundImages {
        width: 320px;
        margin: 20px 0;
    }
    /* Enroll and Application */
    #enrollmentSection,
    #ApplicationSection {
        flex-direction: column;
        text-align: center;
    }
    .halfWidth {
        width: 98%;
        margin: 10px;
    }
}

/* =============================================================== */
/*#  CAREERS PAGE        ========================================== */
/* =============================================================== */

.careersMain {
    padding-top: 20px;
    display: flex;
}
.changeImage {
    margin: 0 auto;
    display: block;
}
.staffImage {
    width: 500px;
    border-radius: 15px;
}
.imageLeft {
    width: 50%;
}
.careersText {
    width: 50%;
}
.staffBox1 {
    position: relative;
}
.staffBox2 {     
    width: 45%;
    margin-left: 2%;
    padding: 20px 30px;
    border-radius: 15px;
    background-color: #51A3A3;
}
.staffBox2 p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    color: #fff;
}
.names {
    position: absolute;
    bottom: 8%;
    left: 20px;
}
.names1 {
    position: absolute;
    top: 77%;
    left: 20px;
}
.staffMember {
    display: flex;
    margin: 20px 0;
}
.staffMember h4 {
    color: #fff;
}
.teacherQuote {
    color: #fff;
    font-family: "Roboto Condensed";
    font-weight: 300;
    font-style: italic;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    background-color: #9B1D20;
    margin: 20px -30px;
}
.careersTestimonial {
    background: url('images/careers/main_1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px 0;
}
.testimonial_text2 { 
    font-size: 30px;
    line-height: 40px;
    font-style: italic;
    font-weight: 300;
    color: #fff;
 }

/*#  Big Screen      ========================================== */

@media only screen and (max-width: 1408px) {}

/*#  Tablet Down        ========================================== */

    @media only screen and (max-width: 960px) {
    .careersMain {
        display: block;
    }
    .imageLeft {
        width: 100%;
    }
    .careersText {
        width: 90%;
        margin: 10px auto;
    }
    .careersText p {
        font-size: 18px;
    }
    .staffMember {
        display: block;
    }
    .staffImage {
        width: 500px;
        display: block;
        margin: 0 auto;
    }
    .staffBox2 {
        width: 100%;
        margin-left: 0;
        background-color: #fff;
    }
    .staffBox2 p {
        color: #000;
    }
    .names {
        position: absolute;
        bottom: 8%;
        left: 24%;
    }
    .names1 {
        position: absolute;
        top: 77%;
        left: 24%;
    }
}

/*#  Mobile Down        ========================================== */

@media only screen and (max-width: 640px) {}

/* =============================================================== */
/*#  CURRICULUM PAGE           ========================================== */
/* =============================================================== */

/*Light Blue: #BCD2EE;
Green (logo): #97C9AB
Bright Green: #82D173;
Teal: #51A3A3;
Red: #9B1D20;*/

.curriculumText {
    margin: 30px 0;
}
.ages {
    margin: 10px 0;
    font-size: 22px;
}
.sections p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 300;
}
.sections a {
    background-color: #97C9AB;
    font-family: "Roboto";
    color: #FFF;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: auto;
    overflow: visible;
    border: 0;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-clip: padding-box;
    padding: 7px 15px;
    margin: 10px 0;
}

/*MIDDLE*/

.currMiddle1 {
    margin-top: 100px;
    background-color: #9B1D20;
}
.currMiddle1 p {
    font-weight: 300;
    font-style: italic;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
}
.Bigger {
    width: 260px;
    margin: 10px auto;
    display: block;
}
.textRight {
    width: 50%;
    padding: 20px 0;
}
.textRight p {
    color: white;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}
.textRight a {
    display: block;
    margin: 8px auto;
    width: 200px;
}
.textRight p:first-child {
    font-size: 30px;
    line-height: 36px;
}
/*CAROUSEL */

.flickity-viewport {
    height: 600px;
    margin: 10px 0;
    border-radius: 15px;
}

.carouselImg {
    max-width: 900px;
    margin: 0 auto;
    border-radius: 15px;
}

.carousel-cell {
    width: 100%;
    margin: auto;
}

.carousel-cell img {
    display: flex;
}

.carousel:after {
    content: 'flickity';
    display: none;
}

/*TAB FUNCTION*/

.js-tab-widget {
    margin: 20px 0px 40px 0px;
}

.tab-item[data-tab-active] {
    background: #9B1D20;
    -webkit-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
    transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
}

.tab-link {
    font-family: "Roboto";
    color: #fff;
    display: block;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
    transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
}

.tab-list {
    background: #51A3A3;
    padding: 0;
    margin: 0;
}

.tab-item {
    display: block;
}

.tab-panel {
    background: white;
    padding: 1rem;
}

.tab-panel h2 {
    margin-top: 0;
}

.tab-panel[aria-hidden="true"] {
    display: none;
}

/*MEDIA QUERIES */

@media screen and (min-width: 640px) {
    /* Accordian Menu  */
    .tab-item {
        display: inline-block;
    }
    .tab-link {
        display: inline-block;
    }
    .tab-link[data-tab-active]:after {
        content: '';
        display: inline-block;
        margin: auto;
        position: absolute;
        bottom: -9px;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #036800;
    }
}

/*#  Big Screen      ========================================== */

@media only screen and (max-width: 1408px) {}

/*#  Tablet Down        ========================================== */

@media only screen and (max-width: 960px) {}

/*#  Mobile Down        ========================================== */

@media only screen and (max-width: 640px) {}






