/* Colorse47
// Light Green: #97C9AB
// Pink/Red: #E47070

New Colors:

Light Blue: #BCD2EE;
Green (logo): #97C9AB
Bright Green: #82D173;
Teal: #51A3A3;
Red: #9B1D20;

* Change Line-Heights in Header text (look up, just line-text: 1em;)
* Make more responsive
* Figure out curriculum page
* EDIT ANYTHING you do not like
* Put 'Apply Here' buttons into div and get it to align to the right instead of
the left
* Change out some pictures, fix sizing, and whatever is mentioned in review

/* Universal & Headings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #20262B;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 64px;
    color: #9B1D20;
}

h2 {
    font-family: 'Roboto Slab';
    font-size: 36px;
    font-weight: 400;
}

h3 {
    font-family: 'Roboto Slab';
    font-size: 30px;
    font-weight: 500;
    color: #9B1D20;
}

h4 {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 500;
    color: #51A3A3;
}

h5 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 24px;
    line-height: 30px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.regBtn {
    background-color: #97C9AB;
    font-family: "Roboto";
    color: #FFF;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: auto;
    overflow: visible;
    border: 0;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-clip: padding-box;
    padding: 7px 15px;
    margin: 10px 0;
}

.green {
    background-color: #82D173;
}

.red {
    background-color: #9B1D20;
}

.flexboxFeature {
    display: flex;
}

.whiteText {
    color: #fff;
}

/* FOOTER */

footer {
    background-color: #9B1D20;
    padding: 10px;
}

.footerText {
    color: #fff;
    font-size: 30px;
}

.footerContact {
    width: 50%;
    padding: 0 20px;
    text-align: left;
    margin-right: 5%;
    margin-bottom: 10px;
}

.footerInfo {
    width: 30%;
}

.footerLinks {
    list-style: none;
    text-align: left;
}

.footerLinks li {
    margin: 10px 0;
}

.footerLinks li a {
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 300;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
}

.footerLinks li a:hover {
    color: #82D173;
}


/*Top Main*/

.top-main {
    text-align: left;
    height: 300px;
    background-image: url(https://kentstateweb.github.io/s2017-creative_kidz_reed_spring2017/redesign/Site/images/indexBanner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.main-title {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    background-color: rgba(188, 210, 238, .6);
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 90px;
}

.homepage_main {
    width: 100%;
}

.main_logo {
    position: absolute;
    margin: 10px 20px;
    top: 0;
    width: 60px;
}

.page_width {
    max-width: 1200px;
    margin: 0 auto !important;
}


/* NAVIGATION */

img {
    width: 80%;
}

nav {
    padding-right: 10px;
    background-color: #9B1D20;
    width: 100%;
    padding: 30px 10px;
    position: relative;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.main-nav li {
    margin-left: 10px;
}

.main-nav li,
.main-nav a {
    text-decoration: none;
    font-size: 22px;
    color: #FFF;
    font-weight: 300;
    font-family: "roboto";
    text-transform: uppercase;
}

.main-nav a:hover {
    font-weight: 500;
}

a.active {
    font-weight: 700;
    color: #97C9AB;
}

a.active:before {
    content: ;
}


/* INDEX PAGE */


/* Main Area Div */

#main_area {
    display: flex;
    padding: 20px 0;
}

.curriculumButton {
    width: 40%;
}

.ourMisson {
    width: 58%;
    margin-left: 2%;
}

.missionText {
    font-family: 'Roboto Slab';
    font-size: 36px;
    font-weight: 500;
    padding: 15px 10px;
    margin-bottom: 10px;
    background-color: #82D173;
    ;
    width: 98%;
}

.ourMisson p {
    width: 98%;
}


/* Middle Image Div */

.middleImage {
    margin-bottom: 0;
}

.button {
    margin: 20px 70px;
    width: 70%;
    text-align: center;
}

.fillerImage {
    width: 100%;
    margin-bottom: 0;
}


/* Middle Testimonial Div */

.middleTestimonials {
    background-color: #66A0E9;
    height: 300px;
    margin-top: 0;
    display: flex;
}

.testimonial_1 {
    width: 50%;
    padding: 20px 60px;
}

.testimonial_text {
    font-size: 24px;
    line-height: 28px;
    font-style: italic;
    font-weight: 200;
    color: #fff;
}

.imageTestimonials {
    width: 48%;
    margin-left: 2%;
}

.roundImages {
    width: 245px;
    margin: 20px;
}



/* Enroll and Application */

#enrollmentSection,
#ApplicationSection {
    display: flex;
    padding: 20px 0;
}

.enrollFiller {
    width: 300px;
}

.halfWidth {
    width: 50%;
}

.centerIt {
    text-align: center;
}

.event {
    text-align: center;
}
















/* NavBar Curriculum */

.MoreCurriculum ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    text-decoration: none;
}

.ages {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
}




/* Body */

.Apply {
    padding-bottom: 1em;
}

body {
    margin: 0;
    padding: 0;
}

.News {
    margin: auto;
    color: #E47070;
}




/* Images */


/* Paragraph */

.p1 {
    padding: .6em;
    font-size: 18px;
}




/* Main */

main {
    padding: 1em 2em 1em 2em;
    max-width: 900px;
}

@media screen and (min-width:750px) {
    main {
        max-width: 1000px;
    }
}




/* Apply & Enroll Here Button */


/* Sign Up Button */

.SignUp {
    padding: .5em;
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
    transition: .3s background-color ease-in-out;
    border-radius: 25px;
}

.SignUp:hover,
.SignUp:focus {
    background-color: #E47070;
}




/* Careers Images Menu */

.profile {
    border: 1px solid #60D394;
    max-width: 1200px;
}

.flex-item {
    flex-wrap: wrap;
    justify-content: center;
    border: 2px dotted #97C9AB;
}

.left {
    text-align: center;
}



@media screen and (min-width:650px) {
    .flex-item {
        display: flex;
        padding: 10px;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    .information {
        display: flex;
        padding: 20px;
        flex-direction: column;
    }
}




/* Careers Fonts */

.careersfont {
    color: black;
}




/* Curriculum Fonts */

.curriculum {
    color: #E47070;
    padding-top: 0;
    text-align: center;
    margin: auto;
    font-size: 46px;
    border-bottom: none;
}

.career {
    color: #E47070;
    padding-top: 0;
    text-align: center;
    margin: auto;
    font-size: 46px;
    border-bottom: none;
}




/* Accordian Menu  */

.tab-list {
    background: #97C9AB;
    padding: 0;
    margin: 0;
}

.tab-item {
    display: block;
}

.tab-item[data-tab-active] {
    background: #E47070;
    -webkit-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
    transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
}

.tab-link {
    color: #fff;
    display: block;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
    transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
}

.tab-panel {
    background: white;
    padding: 1rem;
}

.tab-panel h2 {
    margin-top: 0;
}

.tab-panel[aria-hidden="true"] {
    display: none;
}

@media screen and (min-width: 700px) {
    .tab-item {
        display: inline-block;
    }

    .tab-link {
        display: inline-block;
    }

    .tab-link[data-tab-active]:after {
        content: '';
        display: inline-block;
        margin: auto;
        position: absolute;
        bottom: -9px;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #036800;
    }
}




/* Carousel */

.carousel-cell {
    width: 100%;
    margin: auto;
}

.carousel-cell img {
    max-width: 70%;
    height: auto;
    display: flex;
}

.carousel:after {
    content: 'flickity';
    display: none;
    /* hide :after */
}




/* Media Queries */

@media screen and (max-width: 800px) {

    .titlep,
    h1 {
        font-size: 48px;
        line-text: 1em;
    }

    .curriculum {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .titlep,
    h1 {
        font-size: 40px;
        line-height: 1.3;
    }

    .curriculum {
        font-size: 30px;
        line-height: 1.3;
    }

    h2,
    .staff {
        font-size: 24px;
        line-height: 1.3;
    }

    h3 {
        font-size: 20px;
    }

    .join {
        font-size: 18px;
    }
}







/* At full size on home page, get the page to have an image to right and
text on left */

@media screen and (max-width: 575px) {

    .titlep,
    h1 {
        font-size: 28px line-height: 1.3;
        padding-bottom: .6em;
    }

    p {
        font-size: 12px;
    }
}